<% include ../includes/header.ejs %>

<main class="container">

    <section class="header-page">
    
    </section>
    <section class="mt-5">
        <article>
            <h1 class="article-title">We<br>are<br>Aimbra</h1>
            <h3>We align our team's knowledge with technology to deliver quality products to our customers and partners around the world.</h3>
            <hr>
            <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda obcaecati pariatur doloribus itaque quam, accusamus inventore labore beatae, voluptas voluptatibus rem asperiores ab minima! Dolorem doloribus laboriosam ut quas. Laborum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem odio ab voluptas ullam consequatur, eveniet harum quidem aliquid dicta possimus vitae expedita perspiciatis repudiandae dolor soluta? Voluptatem eligendi debitis alias.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur est quod minus cupiditate illum fugit! Maiores sunt tenetur fugiat aspernatur. Nulla eum sapiente aspernatur rerum officia dignissimos nisi veniam recusandae.</p>
            <figure class="mt-5 my-5">
                <img src="img/map.png" alt="Mapa com a localização dos principais clientes.">
            </figure>
            <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda obcaecati pariatur doloribus itaque quam, accusamus inventore labore beatae, voluptas voluptatibus rem asperiores ab minima! Dolorem doloribus laboriosam ut quas. Laborum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem odio ab voluptas ullam consequatur, eveniet harum quidem aliquid dicta possimus vitae expedita perspiciatis repudiandae dolor soluta? Voluptatem eligendi debitis alias.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda obcaecati pariatur doloribus itaque quam, accusamus inventore labore beatae, voluptas voluptatibus rem asperiores ab minima! Dolorem doloribus laboriosam ut quas. Laborum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem odio ab voluptas ullam consequatur, eveniet harum quidem aliquid dicta possimus vitae expedita perspiciatis repudiandae dolor soluta? Voluptatem eligendi debitis alias. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur est quod minus cupiditate illum fugit! Maiores sunt tenetur fugiat aspernatur. Nulla eum sapiente aspernatur rerum officia dignissimos nisi veniam recusandae.</p>
            
            <hr>
            <h3>Do you like this?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt cum nemo, necessitatibus ab, praesentium, quisquam natus nihil tenetur labore cumque a nostrum sunt at adipisci vel? Exercitationem facere aliquid dolor?</p>
            <button class="btn btn-success">Contact us</button>
        </article>
    </section>

</main>


<% include ../includes/footer.ejs %>